@page "/Customer/HowTo";



<h2>
    Connect Ethereum Network :
</h2>
<ul>
    <li> <button class="btn btn-light" onclick="window.location.href='https://metamask.io/download/'"><span class="oi oi-data-transfer-download" aria-hidden="true"></span>Download MetaMask</button></li>
    <li>Once,metamask is installed.Add new Network</li>
    <li>Add rpc:"http://127.0.0.1:7545"</li>
    <li>Add ChainId:1337</li>
    <li>Add Currency:ETH</li>
    <li>Once Network is Added,import the ethereum account by private key</li>
    <li>Ready to Transfer!!!</li>
</ul>