@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage ProtectedSessionStore;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BankOnChain</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    @if(Role!="Admin")
    {
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="AccountOpenForm">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Account
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-eye" aria-hidden="true"></span> View Account
                </NavLink>
            </div>


        </nav>
    }
    else
    {
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Home">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/CreateBank">
                    <span class="oi oi-plus" aria-hidden="true"></span> Create Bank
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/UpdateBank">
                    <span class="oi oi-plus" aria-hidden="true"></span> Update Bank
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/View">
                    <span class="oi oi-eye" aria-hidden="true"></span> View
                </NavLink>
            </div>


        </nav>
    }

</div>

@code {
    protected override void OnInitialized()
    {
        ProtectedSessionStore.SetAsync("Role", "Admin");
        Role = "Admin";
    }
    public string Role = string.Empty;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
